<!doctype html>
<html  xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'technicalforum')}" >

<body>
<!-- ============================================================== -->
<!-- left sidebar -->
<!-- ============================================================== -->
<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="forumhomepage.html">技术论坛</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                           data-target="#submenu-1" aria-controls="submenu-1"><i
                                class="fa fa-fw fa-user-circle"></i>我的论坛 <span class="badge badge-success">6</span></a>
                        <div id="submenu-1" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/technicalforum/myfollow">我的关注</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/technicalforum/mycollection">我的收藏</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/technicalforum/mypost">我的帖子</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/technicalforum/myreplypost">我的回复</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/technicalforum/forumselection"><i class="fa fa-fw fa-rocket"></i>论坛类别选择</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/technicalforum/forumhelp"><i class="fas fa-fw fa-chart-pie"></i>论坛帮助</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                           data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>论坛管理</a>
                        <div id="submenu-4" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/technicalforum/topicmanage">话题管理</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/technicalforum/postmanage">帖子管理</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- ============================================================== -->
<!-- end left sidebar -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">论坛类别选择</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                        amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/technicalforum" class="breadcrumb-link">论坛首页</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">论坛类别选择</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        <div class="container-fluid" id = "topics">
            <div class="accrodion-regular" v-for="(topic,i) in topics">
                <div id="('accordion'+i)" >
                    <div class="card" >
                        <div class="card-header" id="heading">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" :data-target="('#collapse'+i)"
                                        aria-expanded="true" :aria-controls="('collapse'+i)">
                                    <span class="fas fa-angle-down mr-3" >   <span v-text="topic.category"></span></span>
                                </button>
                            </h5>
                        </div>
                        <div :id="('collapse'+i)" class="collapse show" :aria-labelledby="('heading'+i)"
                             data-parent="('#accordion'+i)">
                            <div class="card-body p-0">
                                <!--<div class="email-list">-->
                                <!--<div class="email-list-item " v-for="post in topic.postlist">-->
                                <!--<div class="email-list-detail">-->
                                <!--<span class="date float-right" >-->
                                <!--<span v-text="post.time"></span>-->
                                <!--<span v-text="post.pageviews"></span>-->
                                <!--<span v-text="post.likenum"></span>-->
                                <!--</span>-->
                                <!--<span class="from" v-text="post.user.nickname"></span>-->
                                <!--<p class="msg" v-text = "post.title"></p>-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--</div>-->
                                <ul class="social-sales list-group list-group-flush" v-for="post in topic.postlist">
                                    <li class="list-group-item social-sales-content">
                                            <span class="float-right">
                                                <span class="social-sales-icon-circle facebook-bgcolor mr-2 ">
                                                    <i class="fab fa-facebook-f"></i>
                                                </span>
                                                <span class="social-sales-name" v-text="post.user.nickname"></span><br>
                                                <span class="social-sales-count text-dark date" v-text="post.time"></span>
                                            </span>
                                        <a class="social-sales-title"><p class="msg" v-text = "post.title"></p></a>
                                        <span class="social-sales-icon">
                                                <span class="fas fa-eye"><span v-text="post.pageviews"></span></span>
                                                <span class="fas fa-thumbs-up"><span v-text="post.likenum" ></span></span>
                                                <a href="#"><span class="fas fa-star"></span></a>
                                            </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!--<div class="footer">-->
    <!--<div class="container-fluid">-->
    <!--<div class="row">-->
    <!--<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">-->

    <!--</div>-->
    <!--<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">-->
    <!--<div class="text-md-right footer-links d-none d-sm-block">-->
    <!--<a href="javascript: void(0);">About</a>-->
    <!--<a href="javascript: void(0);">Support</a>-->
    <!--<a href="javascript: void(0);">Contact Us</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>
<!--</div>-->
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
<!--</div>-->
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script>
    $(document).ready(function () {

        // binding the check all box to onClick event
        $(".chk_all").click(function () {

            var checkAll = $(".chk_all").prop('checked');
            if (checkAll) {
                $(".checkboxes").prop("checked", true);
            } else {
                $(".checkboxes").prop("checked", false);
            }

        });

        // if all checkboxes are selected, then checked the main checkbox class and vise versa
        $(".checkboxes").click(function () {

            if ($(".checkboxes").length == $(".subscheked:checked").length) {
                $(".chk_all").attr("checked", "checked");
            } else {
                $(".chk_all").removeAttr("checked");
            }
        });
    });

</script>
</body>

</html>